.list{
    background-color: rgba(250, 178, 250, 0.849);
    color: black;
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
}
.delete{
    height: 25px;
    width: 25px;
    background-color: transparent;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Trash_font_awesome.svg/1024px-Trash_font_awesome.svg.png");
    background-repeat: no-repeat;
    background-size: 25px;
    border: none;
    outline: none;
    text-align: center;
}
.delete:hover{
    border-radius: 50%;
    background-color: red;
}
.list textarea[type=text]{
    background: none;
    outline: none;
    font-family: cursive;
}
.notes-title{
    height: 30px;
    width: 192px;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}
.notes-content{
    height : 148px;
    width: 192px;
    border: none;
    font-size: medium;
    margin: 5px;
}