.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body-container {
  background-image: 
  url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTtvNf9VJzipL69ycNz2eXTELfKjMWSTeaDhhZWAMlO_qi3i79&usqp=CAU);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
